.add-property {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 300px;
  padding: 5px;
  background-color: var(--almost-white);
}

.form > label {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr;
  margin: 10px;
}

.input {
  margin-left: 20px;
}

.rooms {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rooms > label {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}

.number {
  width: fit-content;
  margin-left: 5px;
}