.nav-bar {
  display: flex;
  background-color: var(--almost-white);
  width: 100%;
  z-index: 10000000;
  height: var(--nav-bar-height-desktop);
}

.nav-bar__logo {
  height: 100%;
}

.nav-bar__nav {
  display: flex;
  height: 100%;
  width: 100%;
}

.nav-bar__list {
  display: flex;
  align-items: center;
}

.nav-bar__item {
  list-style: none;
  padding: 0 min(20px, 2vw);
  font-size: min(1rem, 3vw);
  text-align: center;
}

.nav-bar__item > a {
  text-decoration: none;
}

.nav-bar__item > a:hover {
  text-decoration: underline;
}

.nav-bar__link--active {
  font-weight: 700;
}

.nav-bar__login {
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: lightgrey;
}

.nav-bar__login > * {
  height: 100%;
  width: 110px;
}

@media (max-width: 600px) {
  .nav-bar {
    height: var(--nav-bar-height-mobile);
  }
}