.properties {
  display: grid;
  min-height: calc(100vh - var(--nav-bar-height));
}

.properties-main {
  margin: 20px;
  margin-left: calc(var(--side-bar-width) + 20px);
}

.properties-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
