.properties {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: calc(100vh - var(--nav-bar-height-desktop));
}

.properties-main {
  margin: 20px;
}

.properties-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 600px) {
  .properties {
    grid-template-columns: 100px 1fr;
    min-height: calc(100vh - var(--nav-bar-height-mobile));
  }
}
