.side-bar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
}

.side-bar__favourites > input {
  aspect-ratio: 1;
  height: 15px;  
  margin-left: 10px;
  cursor: pointer;
}

.side-bar__favourites > input:checked {
  accent-color: var(--purple);
}

.side-bar__highlight {
  background-color: var(--purple);
  color: white;
}

.side-bar__heading,
.side-bar__link,
.side-bar__search,
.side-bar__reset {
  padding: 5px 10px;
}

.side-bar__heading {
  font-size: 1.2rem;
}

.side-bar__link {
  display: block;
  text-decoration: none;
}

.side-bar__link:hover {
  background-color: rgb(219, 219, 219);
  color: var(--almost-black);
}

.side-bar__search {
  display: flex;
  height: 35px;
  border-radius: 2px;
  overflow: hidden;
}

.side-bar__search__input {
  width: 100%;
  border: 1px solid var(--almost-black);
  border-right: none;
  border-radius: 0;
  padding: 0 3px;
}

.side-bar__search__submit {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 30px;
  border: none;
  background-color: var(--purple);
  cursor: pointer;
}

.side-bar__search__submit > img {
  aspect-ratio: 1;
  width: 15px;
  filter: invert();
}

.side-bar__reset {
  margin: 10px;
  border: 2px solid var(--purple);
  border-radius: 4px;  
  background-color: var(--purple);
  color: var(--almost-white);
  font-size: 1.2rem;
  font-weight: 600;
  transition-duration: 100ms;
  cursor: pointer;
}

.side-bar__reset:hover {
  background-color: var(--almost-white);
  color: var(--purple);
}

@media (max-width: 600px) {
  .side-bar__heading,
  .side-bar__button,
  .side-bar__link {
    font-size: 0.8rem;
  }
}